---  # Document start marker

# Database Configuration
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/calmadb2?useSSL=false
    username: root
    password: azamsql
    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
      ddl-auto: update
    show-sql: true
    properties:  # Properties nested under `jpa`
      enable_lazy_load_no_trans: false

# JWT Configuration
jwt:
  secret: eyJhbGciOiJIUzUxMiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwNjMzMzA4NCwiaWF0IjoxNzA2MzMzMDg0fQ.22nIHmp3c_cHvQdzb6l9KXA6maXdwj5xdGk7cNe43uvX9OZ-G_EgUYjrLlxk4Tv1c9Dh9RwQN0ih4-XRUcbX9Q
  expirationMs: 3600000

# Other Configuration

  main:
    allow-circular-references: true

image:
  upload:
    directory: /path/to/upload/directory

firebase:
  server-key: BMkz8RcsxswEjCL8M43TqG_vjlLFWgxqOI5nhUmHoUxGY05G_-AUhl-O4bJPeXc2N7u1xIqSqFCvLHHmqb93NK8
  otp:
    enabled: true

google:
  directions:
    api:
      key: AIzaSyAZTiI4i3NSYcuZ3DUBeNYnANMYGToosxs






# # Database Configuration
# spring.datasource.url=jdbc:mysql://localhost:3306/calmadb2?useSSL=false
# spring.datasource.username=root
# spring.datasource.password=azamsql
# spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver



# spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
# #create,update,create-drop,validate
# spring.jpa.hibernate.ddl-auto=update
# spring.jpa.show-sql=true

# # application.yml
# jwt.secret=eyJhbGciOiJIUzUxMiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwNjMzMzA4NCwiaWF0IjoxNzA2MzMzMDg0fQ.22nIHmp3c_cHvQdzb6l9KXA6maXdwj5xdGk7cNe43uvX9OZ-G_EgUYjrLlxk4Tv1c9Dh9RwQN0ih4-XRUcbX9Q
# jwt.expirationMs=3600000

# spring.main.allow-circular-references=true
# image.upload.directory=/path/to/upload/directory

# firebase.server-key=BMkz8RcsxswEjCL8M43TqG_vjlLFWgxqOI5nhUmHoUxGY05G_-AUhl-O4bJPeXc2N7u1xIqSqFCvLHHmqb93NK8
# firebase.otp.enabled=true

# google.directions.api.key=AIzaSyAZTiI4i3NSYcuZ3DUBeNYnANMYGToosxs

# # Disable proxying for specific classes or associations
# spring.jpa.properties.hibernate.enable_lazy_load_no_trans=false
